<!DOCTYPE html>
<html lang="en">
<body>
<p>Hi {{ firstname }}!</p>
<p>You chose:</p>
       <table>
            <tr>
                <td>candy</td>
                <td>amount</td>
                <td>price</td>
            </tr>
                {% for candy_data in order_candies_with_price %}
                        <td>{{ candy_data.candy.candy }}</td>
                            <td>{{ candy_data.quantity }}></td>
                                <td>{{ candy_data.price }} $</td>
                            </form>
            </tr>
            {% endfor %}
        </table>
<p>Total price: {{ total_price }}</p>
